 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark navbar-dark border-bottom box-shadow flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1"></div>
    <div class="col-4 text-center">
      <h3 class="my-0 mr-md-auto text-secondary" translate>{{title}}</h3>
    </div>
    <div class="col-4 pt-1"></div>
  </div>
  
  <div class="container">
  
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex ml-auto text-center"> 
          
          <div class="col-9 text-left">
              <a class="h5 p-2 text-center text-muted navig active-nav" id="add-user" href="javascript:void(0);" (click)=addUser()>{{ 'Add User' | translate}}</a>
              <a class="h5 p-2 text-center text-muted navig" id="add-project" href="javascript:void(0);" (click)=addProject()>{{ 'Add Project' | translate}}</a>
              <a class="h5 p-2 text-center text-muted navig" id="add-task" href="javascript:void(0);" (click)=addTask()>{{ 'Add Task' | translate}}</a>        
              <a class="h5 p-2 text-center text-muted navig" id="view-task" href="javascript:void(0);" (click)=viewTask()>{{ 'View Task' | translate}}</a>
          
          </div>
      
              <div class="col-3 pt-1">
                  <label><b style="color:cadetblue">Choose the Language</b></label>&nbsp;
                  <select #langSelect (change)="changeLang(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
                      {{ lang }}</option>
                  </select>
              </div>
      </nav>
    </div>
  
  </div>
  <main role="main" class="container">
      <router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
  </main> 
  <div class="footer  pt-3">
    <p>{{ 'Footer Title' | translate}}</p>
  </div>