.d-flex .active-nav{
  color: #17a2b8!important;
}
.text-secondary {
  color: lightblue !important;
}
.searchmodal {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
  }
  .searchmodal li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.6em;
    border-radius: 4px;
  }
  .searchmodal li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .searchmodal li.selected {
    background-color:lightgreen;
    color: white;
  }
  .searchmodal li.selected:hover {
    background-color: rgb(136, 210, 219);
    color: white;
  }
  .searchmodal .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .oval {
    height: 50px;
    width: 100px;
    background-color:lightseagreen;
    border-radius: 50%;
  }
  table, th, td {
    border-collapse: separate;
   /* // border-spacing: 5px; */
    padding: 5px;
  }
  li{
    border-top: 1px dashed grey;
  /* left:230px; */
  
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed grey;
  }
  
  th, td {
    text-align: left; 
    
  }
  tr td {
    font-weight: normal;
    background-color : lightgrey;
   }
   #userSortDiv{
  left:50px;
   }
  
   .modal-header{
  background-color: #74A9D8;
  color : maroon;
   }
   #sort{
     font-weight: 1000;
     color:blue;
   }
   #userlist_title{
    font-weight: 1000;
    color:sienna;
  }
  tr[_ngcontent-vaa-c108] td[_ngcontent-vaa-c108]:first-child {
    width: 175px;
    font-weight: normal;
    background-color: red;
  }
  button:disabled {
    cursor: not-allowed;
  }
  